<div class="text-center">
  <form  [formGroup]="SurveyFormGroup" (ngSubmit)="UpdateSurvey()">
    <div  style="width:100%" >
      <mat-form-field appearance="outline"  style="width:100%" >
          <mat-label>Survey Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="name" [value]="this.SurveyFormGroup.get('name').value" style="width:100%"  >
      </mat-form-field>
    </div>
      <!-- <div>
        <mat-form-field  appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker2"  [min]="SurveyData.endDate" formControlName="StartDate"  disabled [min]="todayDate" >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"  disabled="false"></mat-datepicker>
          </mat-form-field>
     </div>
     <div class="pd-0">
        <mat-form-field appearance="outline" >
            <mat-label>End Date</mat-label>
            <input matInput [class.is-invalid]="this.SurveyFormGroup.errors?.MisMatch" [matDatepicker]="picker3"  formControlName="EndDate" [min]="SurveyData.startDate"  [min]="todayDate" disabled >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 color="primary" disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="this.SurveyFormGroup.errors?.MisMatch" style="font-size: 12px;text-align: center;">Please Enter Proper date</mat-error>
    </div> -->
    <div class="form-group text-left" *ngIf="StartedDate>todayDate">
      <label for="StartDate" >StartDate</label><br>
      <input type="datetime-local"  [ngModel]="this.data.startDate | date:'yyyy-MM-ddTHH:mm'"  formControlName="StartDate" id="StartDate" >
    </div>
    <div class="form-group text-left" *ngIf="StartedDate<todayDate">
      <label for="StartDate" >StartDate</label><br>
      <input type="datetime-local"  [ngModel]="this.data.startDate | date:'yyyy-MM-ddTHH:mm'"  formControlName="StartDate" id="StartDate" disabled >
    </div>
    <div class="form-group mt-2 text-left">
      <label for="EndDate">EndDate</label><br>
      <input type="datetime-local"   [ngModel]="this.data.endDate | date:'yyyy-MM-ddTHH:mm'"   formControlName="EndDate" [min]="todayDate"  id="EndDate" aria-describedby="End Date" >
      <mat-error style="font-size: 12px;text-align: center;" class="text-left" *ngIf="this.SurveyFormGroup.errors?.MisMatch">StartDate Shouldnot Exceed EndDate</mat-error>
    </div>
    <!-- <div>
      <input type="datetime-local" [ngModel]="this.data.startDate | date:'yyyy-MM-ddTHH:mm'"  formControlName="StartDate"   />
    </div>
    <div class="mt-2">
      <input type="datetime-local"  [ngModel]="this.data.endDate | date:'yyyy-MM-ddTHH:mm'"   formControlName="EndDate" [min]="todayDate" />
      <mat-error style="font-size: 12px;text-align: center;" *ngIf="this.SurveyFormGroup.errors?.MisMatch">Please Enter Proper date</mat-error>
    </div> -->
    <div style="width:100%" >
        <mat-form-field appearance="outline" style="width:100%" >
            <mat-label>Departments</mat-label>
            <mat-select formControlName="Department" name="Department" [(value)]="id">
              <mat-option *ngFor="let dept of Departments" [value]="dept.dM_Id">
                {{dept.dM_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="text-center">
        <button mat-raised-button color="primary" type="submit"  [disabled]="!SurveyFormGroup.valid">Save</button>
        <br>
       
    </div>
  </form>
    <button mat-raised-button color="primary"  (click)="GetQuestions()" class="mt-2 text-center mx-auto">Edit Questions</button>
  </div>

