<div class="container mt-3">
  <mat-spinner style="margin: 0 auto;" *ngIf="Loading"></mat-spinner>
<mat-card class="text-cnter">
  <button mat-fab color="warn" aria-label="Example icon button with a home icon" style="outline-color: #ffffff;outline-width: 0px;" (click)="GoToHome()">
    <mat-icon>home</mat-icon>
  </button>
  <mat-card *ngIf="this.QuestionsFromServer?.length===0 && !Loading" class="text-cnter">
    <mat-card-title class="text-cnter">No Questions Found</mat-card-title>
  </mat-card>
<div *ngFor="let Question of QuestionsFromServer;let j=index" class="mt-2">
    <mat-card>
    <mat-card-title><span>{{j+1}} ) </span>{{Question.questionMaster.qM_QuestionName}}</mat-card-title>
    <mat-card-subtitle ><span>Question Type:- </span>{{Question.questionMaster.optionType}}</mat-card-subtitle>
    
        <div *ngFor="let option of Question.optionMaster;let i=index">
            <mat-card-content>
            <span>{{i+1}} )  {{option.options}}</span>
          </mat-card-content>
        </div>
  
</mat-card>
</div>
</mat-card>
</div>

