
<div class="container mt-3">
<mat-card style="width: 100%;" class="text-center">
<div *ngFor="let Question of QuestionsFromServerArray;let QuestionIndex=index" style="width: 100%;">
  <mat-card style="margin-top: 20px;width: 80%;" class="mx-auto pt-0 text-left">
    <div class="row">
      <div class="col pl-0">
        <span class="text-left mr-auto p-2" style="background-color: yellowgreen;">{{QuestionIndex+1}}</span>
      </div>
      <div class="col" class="text-right pr-1 pb-1">
        <button mat-mini-fab color="warn" (click)="RemoveQuestion(QuestionIndex)"  >
          <mat-icon>clear</mat-icon>
        </button> 
      </div>
    </div>
<form [formGroup]="Question">
   <mat-form-field  style="width: 100%;" appearance="outline">
    <mat-label>Question Name</mat-label>
    <input  formControlName="QuestionName" maxlength="200" matInput placeholder="Question title"
      [required]="true">
      <mat-error>Question Name Required</mat-error>
  </mat-form-field>
  <div *ngIf="Question.get('OptionType').value!='TextBox'">
  <mat-form-field  style="width: 100%;" appearance="outline">
    <mat-select formControlName="OptionType" placeholder="Question type" 
      (selectionChange)="onSeletQuestionType(QuestionIndex)" [required]="true">
      <mat-option *ngFor="let type of questions" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <button *ngIf="this.QuestionsFromServerArray[QuestionIndex].get('OptionType').value!=='TextBox'" (click)="AddOption(Question.get('SurveId').value,Question.get('QuestionId').value,QuestionIndex)" mat-raised-button color="primary" style="text-align: left;" class="text-left mr-aut0">Add Option</button>
  <div formArrayName="OptionMaster" >
   <div *ngFor="let optionArray of Question.controls['OptionMaster'].controls;let i=index">
    <form [formGroupName]="i" class="text-right ml-auto" >
    <mat-form-field  style="width: 100%; margin-top: 5px;" appearance="outline">
      <mat-label>OptionName</mat-label>
      <input formControlName="options" maxlength="200" matInput placeholder="Option title" 
        [required]="true" >
        <mat-error>Option Name Required</mat-error>
    </mat-form-field>
    <button  (click)="RemoveOption(Question.get('SurveId').value,Question.get('QuestionId').value,optionArray.controls['oM_Id'].value)" mat-raised-button color="accent">Remove</button><br>
    <button class="mt-2" *ngIf="i=== Question.get('OptionMaster')['controls'].length-1" (click)="UpdateQuestion(QuestionIndex)" mat-raised-button color="primary" [disabled]=" Question.get('QuestionName').invalid" >UpdateQuestion</button><br>
   </form>
  </div>
  <button class="mt-2" *ngIf="Question.get('OptionType').value==='TextBox'" (click)="UpdateQuestion(QuestionIndex)" mat-raised-button color="primary" [disabled]=" Question.get('QuestionName').invalid" >UpdateQuestion</button><br>
  </div>
</form>
</mat-card>
</div>
<button  mat-raised-button color="primary" class="mt-2" (click)="AddQuestion()">Add Question</button><br>
</mat-card>
</div>