<div class="container mt-4 mx-auto" >
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" >
    <div class="container text-center">
    <form [formGroup]="firstFormGroup" class="text-center mx-auto" style="width:80%">
      <ng-template matStepLabel>Fill out Survey Details</ng-template>   
      <mat-form-field appearance='outline' style="width:100%">
        <mat-label>SurveyName</mat-label>
        <input matInput  formControlName="SurveyName" required>
        <mat-error>SurveyName is Required</mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance='outline' style="width:100%">
        <mat-label>Start Date</mat-label>
        <input [matDatepicker]="picker3"  formControlName="StartDate" [min]="todayDate" [(ngModel)]="todayDate" disabled  >
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 color="primary" disabled="false"></mat-datepicker>
        <mat-error>Start Date is Required</mat-error>
      </mat-form-field> -->
      <!-- <div>
        <input type="datetime-local"  formControlName="StartDate" [ngModel]="todayDate | date:'yyyy-MM-ddTHH:mm'"  [min]="todayDate"  />
      </div> -->
      <div class="form-group text-left">
        <label for="StartDate" >StartDate</label>
        <input type="datetime-local"  formControlName="StartDate" [ngModel]="todayDate | date:'yyyy-MM-ddTHH:mm'"  [min]="todayDate" class="form-control" id="StartDate" aria-describedby="Start Date" placeholder="Enter email">
      </div>
      <div class="form-group mt-2 text-left">
        <label for="EndDate">EndDate</label>
        <input type="datetime-local"  formControlName="EndDate" [ngModel]="tomorrow | date:'yyyy-MM-ddTHH:mm'" [min]="todayDate"  class="form-control" id="EndDate" aria-describedby="Start Date" placeholder="Enter email">
        <mat-error *ngIf="this.firstFormGroup.errors?.MisMatch" style="font-size: 12px;text-align: center;">Please Enter Proper date</mat-error>
      </div>
      <!-- <div class="mt-2">
        <input type="datetime-local"  formControlName="EndDate" [ngModel]="tomorrow | date:'yyyy-MM-ddTHH:mm'" [min]="todayDate"   />
        <mat-error *ngIf="this.firstFormGroup.errors?.MisMatch" style="font-size: 12px;text-align: center;">Please Enter Proper date</mat-error>
      </div> -->
      <!-- <mat-form-field appearance='outline' style="width:100%">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker4" formControlName="EndDate" [min]="todayDate" [value]='todayDate' disabled  [(ngModel)]="nextDate">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4 color="primary" disabled="false"></mat-datepicker>
        <mat-error>End Date is Required</mat-error>
      </mat-form-field> -->
      <div style="width:100%" >
        <mat-form-field appearance="outline" style="width:100%" >
            <mat-label>Departments</mat-label>
            <mat-select  formControlName="Department" name="Department" [(value)]="SelectedDepartmentId" (valueChange)="Change()">
              <mat-option *ngFor="let dept of Departments" [value]="dept.dM_Id">
                {{dept.dM_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </div>
  </mat-step>

  <mat-step [stepControl]="surveyForm" errorMessage="AllFeild is required.">
    <ng-template matStepLabel>Fill out Survey Questions</ng-template>
      
<mat-card class="mx-auto pt-0 mt-0" style="width:100%">
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" autocomplete="off" style="width:100%">
    <div class="survey-options">
      <div formArrayName="surveyQuestions" class="poll-options" style="width: 100%;">
        <h3 class="list-title">Add Survey Questions </h3>
        <ol class="" style="width:100%" >
          <li *ngFor="let questionCtrl of surveyForm.get('surveyQuestions')['controls']; let i = index" style="width: 100%;">
            <mat-card class="mt-3" >
            <div [formGroupName]="i" class="ml-auto text-right" >
              <button *ngIf="i>0" mat-mini-fab color="warn" type="button" (click)="onRemoveQuestion(i)" class="ml-auto p-0 m-0" style="margin-left: auto;">
                X
               </button>
              <div style="width: 100%;">
                <mat-form-field  style="width: 100%;" appearance="outline">
                  <input formControlName="questionTitle" maxlength="200" matInput placeholder="Question title"
                    [required]="true">
                </mat-form-field>
                <mat-form-field  style="width: 100%;" appearance="outline">
                  <mat-select formControlName="questionType" placeholder="Question type" ng-model="myVar" [(value)]="selectedOption[i]"
                    (selectionChange)="onSeletQuestionType(selectedOption[i], i)" [required]="true">
                    <mat-option *ngFor="let type of questions" [value]="type.value">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
 
                <div formGroupName="questionGroup" [ngSwitch]="selectedOption[i]" style="width:100%" class="text-left">
                  <div >
                      <div *ngIf="questionCtrl.controls.questionGroup.controls.options">
                    <ul class="question-type pl-0" formArrayName="options" style="list-style: none;width:100%;">
                      <li *ngFor="let optionCtrl of questionCtrl.controls.questionGroup.controls.options.controls let j = index">
                        <div [formGroupName]="j" style="width:100%">
          
                          <mat-form-field appearance='outline' style="width:100%" >
                            <input formControlName="optionText" matInput placeholder="option text" maxlength="100"
                              [required]="true">
                          </mat-form-field>
                    
                            <button mat-raised-button *ngIf="j>=2" (click)="removeOption(i,j)" color="warn">
                             X
                            </button>
                     
                        </div>
                      </li>                      
                    </ul>
                    <button mat-raised-button type="button" (click)="addOption(i)" class="mat-sm-button add-option-btn" color="accent" *ngIf="this.surveyForm.controls.surveyQuestions['controls'][i].controls.questionType.value!=='TextBox'"> Add option</button>
                  </div>
                  </div>
                </div>

              </div>
            </div>
          </mat-card>
          </li>
        </ol>
        <div class="row" >
          <button type="button" mat-raised-button (click)="onAddQuestion()" class="ml-1" color="primary">
           Add Question
          </button>
            <button type="button" mat-raised-button class="ml-auto mr-1"  matStepperNext color="accent" >Next</button>

        </div>
      </div>

    </div>


    <div class="button-row">
     
    </div>
  </form>
</mat-card>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-card class="text-center">  
      <button class="full-width mx-auto" *ngIf="!Loader" style="width:50%;" color="primary" type="submit" [disabled]="!this.surveyForm.valid || !this.firstFormGroup.valid" mat-raised-button (click)="onSubmit()" >
         Save Survey
        </button>
        <mat-spinner class="full-width mx-auto" *ngIf="Loader" [diameter]="20"></mat-spinner>
      <div>
        <div class="row mt-3">
        <button mat-raised-button matStepperPrevious color="primary" class="ml-2">Back</button>
        <button mat-raised-button (click)="stepper.reset()" class="ml-auto mr-2" color="accent">Reset</button>
      </div>
      </div>
    </mat-card>
    <div *ngIf="">

    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>